#e104_3 { 
	opacity:1;
	width:1920px;
	height:3000px;
	position:absolute;
	left:0px;
	top:0px;
	background-image:url(images/e___.png);
	background-repeat:no-repeat;
	background-size:cover;
}
#e104_4 { 
	opacity:1;
	width:1920px;
	height:3000px;
	position:absolute;
	left:0px;
	top:3000px;
	background-image:url(images/e___.png);
	background-repeat:no-repeat;
	background-size:cover;
}
#e104_5 { 
	opacity:1;
	width:1920px;
	height:3000px;
	position:absolute;
	left:0px;
	top:5999px;
	background-image:url(images/e___.png);
	background-repeat:no-repeat;
	background-size:cover;
}
#e104_6 { 
	opacity:1;
	width:1920px;
	height:3000px;
	position:absolute;
	left:0px;
	top:5999px;
	background-image:url(images/e___.png);
	background-repeat:no-repeat;
	background-size:cover;
}
#e104_7 { 
	opacity:1;
	width:1920px;
	height:3000px;
	position:absolute;
	left:0px;
	top:7800px;
	background-image:url(images/e___.png);
	background-repeat:no-repeat;
	background-size:cover;
}
#e104_8 { 
	color:rgba(255, 255, 255, 1);
	opacity:1;
	width:589px;
	height:135px;
	position:absolute;
	left:-25px;
	top:67px;
	font-family:Roboto;
	text-align:right;
	font-size:72px;
	letter-spacing:0;
	line-height:undefined;
}
#e104_9 { 
	color:rgba(255, 255, 255, 1);
	opacity:1;
	width:216px;
	height:89px;
	position:absolute;
	left:960px;
	top:113px;
	font-family:Roboto;
	text-align:right;
	font-size:96px;
	letter-spacing:0;
	line-height:undefined;
}
#e104_10 { 
	color:rgba(255, 255, 255, 1);
	opacity:1;
	width:387px;
	height:158px;
	position:absolute;
	left:564px;
	top:58px;
	font-family:Roboto;
	text-align:right;
	font-size:170px;
	letter-spacing:0;
	line-height:undefined;
}
#e104_11 { 
	color:rgba(255, 255, 255, 1);
	opacity:1;
	width:348px;
	height:191px;
	position:absolute;
	left:531px;
	top:704px;
	font-family:Roboto;
	text-align:center;
	font-size:23px;
	letter-spacing:0;
	line-height:undefined;
}
#e104_12 { 
	opacity:1;
	width:358px;
	height:227px;
	position:absolute;
	left:538px;
	top:461px;
	border-top-left-radius:37px;
	border-top-right-radius:37px;
	border-bottom-left-radius:37px;
	border-bottom-right-radius:37px;
	background-image:url(images/ebelnaviny_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}
#e104_13 { 
	color:rgba(255, 255, 255, 1);
	opacity:1;
	width:1632px;
	height:115px;
	position:absolute;
	left:144px;
	top:300px;
	font-family:Roboto;
	text-align:center;
	font-size:26px;
	letter-spacing:0;
	line-height:undefined;
}
#e104_14 { 
	opacity:1;
	width:767px;
	height:452px;
	position:absolute;
	left:193px;
	top:911px;
	border-top-left-radius:198px;
	border-top-right-radius:198px;
	border-bottom-left-radius:198px;
	border-bottom-right-radius:198px;
	background-image:url(images/eimage_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}
#e104_15 { 
	color:rgba(255, 255, 255, 1);
	opacity:1;
	width:748px;
	height:341px;
	position:absolute;
	left:1028px;
	top:997px;
	font-family:Roboto;
	text-align:center;
	font-size:25px;
	letter-spacing:0;
	line-height:undefined;
}
#e104_16 { 
	opacity:1;
	width:805px;
	height:517px;
	position:absolute;
	left:999px;
	top:461px;
	border-top-left-radius:79px;
	border-top-right-radius:79px;
	border-bottom-left-radius:79px;
	border-bottom-right-radius:79px;
	background-image:url(images/esputnik_1_insides_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}
#e104_17 { 
	color:rgba(255, 255, 255, 1);
	opacity:1;
	width:983px;
	height:109px;
	position:absolute;
	left:36px;
	top:1487px;
	font-family:Roboto;
	text-align:center;
	font-size:72px;
	letter-spacing:0;
	line-height:undefined;
}
#e104_18 { 
	opacity:1;
	width:326px;
	height:431px;
	position:absolute;
	left:193px;
	top:461px;
	border-top-left-radius:76px;
	border-top-right-radius:76px;
	border-bottom-left-radius:76px;
	border-bottom-right-radius:76px;
	background-image:url(images/e46rjieg6u9qr_portret_ioganna_keplera_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}
#e104_19 { 
	color:rgba(255, 255, 255, 1);
	opacity:1;
	width:1121px;
	height:317px;
	position:absolute;
	left:36px;
	top:1671px;
	font-family:Roboto;
	text-align:right;
	font-size:30px;
	letter-spacing:0;
	line-height:undefined;
}
#e104_20 { 
	opacity:1;
	width:515px;
	height:678px;
	position:absolute;
	left:1231px;
	top:1500px;
	border-top-left-radius:302px;
	border-top-right-radius:302px;
	border-bottom-left-radius:302px;
	border-bottom-right-radius:302px;
	background-image:url(images/e59_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}
#e104_21 { 
	color:rgba(255, 255, 255, 1);
	opacity:1;
	width:859px;
	height:499px;
	position:absolute;
	left:906px;
	top:2286px;
	font-family:Roboto;
	text-align:left;
	font-size:30px;
	letter-spacing:0;
	line-height:undefined;
}
#e104_22 { 
	opacity:1;
	border:1px solid rgba(0, 0, 0, 1);
	width:667px;
	height:667px;
	position:absolute;
	left:166px;
	top:2178px;
	border-top-left-radius:105px;
	border-top-right-radius:105px;
	border-bottom-left-radius:105px;
	border-bottom-right-radius:105px;
	background-image:url(images/e2036886_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}
#e104_24 { 
	color:rgba(255, 255, 255, 1);
	opacity:1;
	width:800px;
	height:270px;
	position:absolute;
	left:48px;
	top:3106px;
	font-family:Roboto;
	text-align:right;
	font-size:30px;
	letter-spacing:0;
	line-height:undefined;
}
#e104_26 { 
	opacity:1;
	width:850px;
	height:500px;
	position:absolute;
	left:960px;
	top:2966px;
	border-top-left-radius:225px;
	border-top-right-radius:225px;
	border-bottom-left-radius:225px;
	border-bottom-right-radius:225px;
	background-image:url(images/eimage_2.png);
	background-repeat:no-repeat;
	background-size:cover;
}
#e104_27 { 
	color:rgba(255, 255, 255, 1);
	opacity:1;
	width:499px;
	height:151px;
	position:absolute;
	left:250px;
	top:3412px;
	font-family:Roboto;
	text-align:left;
	font-size:96px;
	letter-spacing:0;
	line-height:undefined;
}
#e104_28 { 
	transform: rotate(-79.75820364949769deg);
	opacity:1;
	width:430.486083984375px;
	height:419.5600280761719px;
	position:absolute;
	left:86px;
	top:4042.626708984375px;
	background-image:url(images/ei_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}
#e104_29 { 
	transform: rotate(27.824352518875614deg);
	opacity:1;
	width:419.8733825683594px;
	height:936.081298828125px;
	position:absolute;
	left:300px;
	top:3738px;
	background-image:url(images/e_______1.png);
	background-repeat:no-repeat;
	background-size:cover;
}
#e104_30 { 
	color:rgba(255, 255, 255, 1);
	opacity:1;
	width:800px;
	height:214px;
	position:absolute;
	left:965px;
	top:3563px;
	font-family:Roboto;
	text-align:left;
	font-size:30px;
	letter-spacing:0;
	line-height:undefined;
}
#e104_31 { 
	color:rgba(255, 255, 255, 1);
	opacity:1;
	width:809px;
	height:313px;
	position:absolute;
	left:982px;
	top:4419px;
	font-family:Roboto;
	text-align:left;
	font-size:30px;
	letter-spacing:0;
	line-height:undefined;
}
#e104_32 { 
	opacity:1;
	width:809px;
	height:455px;
	position:absolute;
	left:980px;
	top:3904px;
	border-top-left-radius:121px;
	border-top-right-radius:121px;
	border-bottom-left-radius:121px;
	border-bottom-right-radius:121px;
	background-image:url(images/eimage_3.png);
	background-repeat:no-repeat;
	background-size:cover;
}
#e104_33 { 
	opacity:1;
	width:809px;
	height:455px;
	position:absolute;
	left:982px;
	top:3874px;
	border-top-left-radius:121px;
	border-top-right-radius:121px;
	border-bottom-left-radius:121px;
	border-bottom-right-radius:121px;
	background-image:url(images/eimage_5.png);
	background-repeat:no-repeat;
	background-size:cover;
}
#e104_34 { 
	color:rgba(255, 255, 255, 1);
	opacity:1;
	width:791px;
	height:385px;
	position:absolute;
	left:119px;
	top:4937px;
	font-family:Roboto;
	text-align:right;
	font-size:30px;
	letter-spacing:0;
	line-height:undefined;
}
#e104_35 { 
	opacity:1;
	width:810px;
	height:497px;
	position:absolute;
	left:982px;
	top:4880px;
	border-top-left-radius:158px;
	border-top-right-radius:158px;
	border-bottom-left-radius:158px;
	border-bottom-right-radius:158px;
	background-image:url(images/eimage_4.png);
	background-repeat:no-repeat;
	background-size:cover;
}
#e104_36 { 
	color:rgba(255, 232.68750607967377, 232.68750607967377, 1);
	opacity:1;
	width:724px;
	height:389px;
	position:absolute;
	left:1023px;
	top:5532px;
	font-family:Roboto;
	text-align:left;
	font-size:30px;
	letter-spacing:0;
	line-height:undefined;
}
#e104_37 { 
	opacity:1;
	width:714px;
	height:565px;
	position:absolute;
	left:246px;
	top:5452px;
	border-top-left-radius:241px;
	border-top-right-radius:241px;
	border-bottom-left-radius:241px;
	border-bottom-right-radius:241px;
	background-image:url(images/e________________9_e1583498908630_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}
#e104_38 { 
	color:rgba(255, 255, 255, 1);
	opacity:1;
	width:1651px;
	height:525px;
	position:absolute;
	left:151px;
	top:6263px;
	font-family:Roboto;
	text-align:center;
	font-size:30px;
	letter-spacing:0;
	line-height:undefined;
}
#e104_39 { 
	color:rgba(255, 255, 255, 1);
	opacity:1;
	width:891px;
	height:506px;
	position:absolute;
	left:114px;
	top:7714px;
	font-family:Roboto;
	text-align:right;
	font-size:30px;
	letter-spacing:0;
	line-height:undefined;
}
#e104_40 { 
	opacity:1;
	width:701px;
	height:568px;
	position:absolute;
	left:1077px;
	top:7633px;
	border-top-left-radius:169px;
	border-top-right-radius:169px;
	border-bottom-left-radius:169px;
	border-bottom-right-radius:169px;
	background-image:url(images/e_e1583499988420_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}
#e104_41 { 
	color:rgba(255, 255, 255, 1);
	opacity:1;
	width:918px;
	height:164px;
	position:absolute;
	left:926px;
	top:8341px;
	font-family:Roboto;
	text-align:right;
	font-size:30px;
	letter-spacing:0;
	line-height:undefined;
}
#e104_42 { 
	opacity:1;
	width:750px;
	height:422px;
	position:absolute;
	left:156px;
	top:8228px;
	border-top-left-radius:137px;
	border-top-right-radius:137px;
	border-bottom-left-radius:137px;
	border-bottom-right-radius:137px;
	background-image:url(images/eimage_7.png);
	background-repeat:no-repeat;
	background-size:cover;
}
#e104_43 { 
	color:rgba(255, 255, 255, 1);
	opacity:1;
	width:1735px;
	height:494px;
	position:absolute;
	left:92px;
	top:8798px;
	font-family:Roboto;
	text-align:left;
	font-size:30px;
	letter-spacing:0;
	line-height:undefined;
}
#e104_44 { 
	opacity:1;
	width:1200px;
	height:763px;
	position:absolute;
	left:360px;
	top:9332px;
	border-top-left-radius:381.5px;
	border-top-right-radius:381.5px;
	border-bottom-left-radius:381.5px;
	border-bottom-right-radius:381.5px;
	background-image:url(images/e4774583_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}
#e104_45 { 
	color:rgba(255, 255, 255, 1);
	opacity:1;
	width:1735px;
	height:227px;
	position:absolute;
	left:92px;
	top:10136px;
	font-family:Roboto;
	text-align:left;
	font-size:30px;
	letter-spacing:0;
	line-height:undefined;
}
#e104_46 { 
	opacity:1;
	width:349px;
	height:161px;
	position:absolute;
	left:785px;
	top:10499px;
	background-image:url(images/ethe_end_clipart_6_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}
#e104_47 { 
	opacity:1;
	width:1615px;
	height:748px;
	position:absolute;
	left:152px;
	top:6837px;
	border-top-left-radius:123px;
	border-top-right-radius:123px;
	border-bottom-left-radius:123px;
	border-bottom-right-radius:123px;
	background-image:url(images/eimage_6.png);
	background-repeat:no-repeat;
	background-size:cover;
}
#e104_48 { 
	opacity:1;
	width:176px;
	height:97px;
	position:absolute;
	left:1196px;
	top:-656px;
}
#e106_47 { 
	color:rgba(255, 255, 255, 1);
	opacity:1;
	width:1789px;
	height:80px;
	position:absolute;
	left:87px;
	top:6100px;
	font-family:Roboto;
	text-align:left;
	font-size:68px;
	letter-spacing:0;
	line-height:undefined;
}
